@tailwind base;

@tailwind components;

@tailwind utilities;


body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

h1,
h2,
.quote {
  font-family: "Alegreya", serif;
}


.quote {
  @apply flex justify-center text-white border-b-8 text-3xl leading-snug text-center mt-10 mb-10 p-6;
  background-color: #333;
  border-color: #E71D36;
}

.quote > p {
  @apply max-w-sm 
}

.text-section {
  @apply p-2 max-w-2xl pt-4 m-auto
}

h2 {
  @apply text-3xl p-2 pb-2
}

p {
  @apply p-2
}